* {
    margin: 0;
    padding: 0;

}

body {
    background: rgb(9, 9, 9);
    text-align: center;
    margin-top: 100px;
    width: 100%;
    height: 100%;

}

#container {
    background: #1F2937;
    opacity: 0.9;
    width: 550px;
    height: 600px;
    margin: auto;
    border-radius: 3px;
}

#head {
    width: 550px;
    height: 260px;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    margin-top: 60px;
    border-top: 1px solid black;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

h1 {
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 22px;
    font-family: sans-serif;
    color: whitesmoke;
}

input {
    text-align: center;
    padding: 15px;
    width: 500px;
    height: 51.23px;
    font-size: 97.5723px;
    background: transparent;
    outline: none;
    border: none;
    color: whitesmoke;
    margin: 25px;
}

#display {
    width: 550px;
    height: 200px;
    background: #1F2937;
    opacity: 0.9;
    color: whitesmoke;
    
}
p {
    font-weight: 600;
}

.length {
    margin: 30px 0 15px 0;
    line-height: 30px;
    font-size: 14px;
}

.volume {
    margin: 30px 0 5px 0;
    line-height: 30px;
    font-size: 14px;
}

.mass {
    margin: 30px 0 5px 0;
    line-height: 30px;
    font-size: 14px;
}

span {
    font-weight: 400;
    color:#D2D2D2;
    
}

button {
    margin: 70px 5px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    background: transparent;
    color: whitesmoke;
    border: none;

}

button:hover {
    background: black;
}

